
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
display: block;
}

body{
  display: block;
  font-family: "Arial", sans-serif;
  background: #fff;
  color: #3e3e3e;
	line-height: 1.44444;
	text-align: center;

}
#confirmpage
{
	font-family: 'Merriweather', serif;
	line-height: 1.75;
}
#confirmpage h1{
	font-size:4.5em;
	
}
#confirmpage p{
	
}

hr{
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 25px;
    margin-right: 25px;
    border-width: 1px;
}
.content{
  max-width: 80%;
  margin: auto;
}

html {
  font-size: 1.175em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

 img{
   width: 100%;
   height: 100%;
   display: block;
 }

.body1{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

fieldset
{
  text-align: center;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  letter-spacing: .5px;
  background: #b62020;
  border:0;
  padding: 10px;
  display: block;

}
.center {
    padding: 10px;
    top: 30%;
    width: auto;
    text-align: center;
    font-size: 18px;
}

form input[type='text'],form textarea {
  text-align: center;
  font-size: 0.875em;
  color: gray;
  letter-spacing: 3px;
  width: 35%;
  margin: 0.3em;
  outline-width: 0;
}

#nav{
text-align: center;
list-style:none;
position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    float:left;
    position: relative;
    border-left:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


@media screen and (min-width: 768px) {


  .submit {
    width: 75%;
  }
}
label{
	font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	color: black;
	text-align: left;
	font-size: 20px;
	text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
	display: flex;
	flex-direction: column;
	margin-left: 550px;
	margin-right: 550px;
	padding-top: 25px;

}

#titles{
    color: black;
    text-align: left;
    font-size:20px;
    padding-top: 25px;
}
#titl{
	color: black;
    text-align: left;
    font-size:20px;
    font-weight: bold;
    margin:auto;
    padding-top: 25px;
}

#title{
	color: black;
    text-align: left;
    font-size:25px;
    margin:auto;
    padding-top: 25px;
}
#title1{
	color: black;
    text-align: left;
    font-size:25px;
    margin:auto;
    padding-top: 25px;
}

#title2{
	color: black;
    text-align: center;
    font-size:25px;
    margin:auto;
    padding-top: 25px;
}

